gradio-app>div
{
	--stickynav-height: 9em;
}

gradio-app>div.no-breadcrumbs
{
	--stickynav-height: 5em;
}

gradio-app>div.small-breadcrumb-style
{
	--stickynav-height: 7em;
}

gradio-app>div:not(.breadcrumbs-sticky)
{
	--stickynav-height: 0;
}

gradio-app
{
	.main
	{
		margin-top: var(--stickynav-height);
	}

	&>div.stylized-scrollbars
	{
		#breadcrumbs-wrapper
		{
			::-webkit-scrollbar
			{
				width: 10px;
			}

			::-webkit-scrollbar-thumb
			{
				background-color: var(--border-color-primary);
				border-radius: 10px;
				border-top: 3px solid var(--background-fill-primary);

				&:hover
				{
					background-color: var(--border-color-accent);
				}
			}
		}
	}
}

#breadcrumbs-wrapper
{
	display: block;
}

gradio-app>div.breadcrumbs-sticky
{
	#img2img_results, #txt2img_results, #extras_results
	{
		top: calc(var(--stickynav-height) + 1.7em);
	}

	#breadcrumbs-wrapper
	{
		position: fixed;
		z-index: 1000;
		top: 0;
		left: 0;
		background-color: var(--background-fill-primary);
	}

	&.bottom-breadcrumbs
	{
		.main
		{
			margin-top: 0;
			margin-bottom: var(--stickynav-height);
		}

		#breadcrumbs-wrapper
		{
			bottom: 0;
			top: unset;
		}


		#img2img_results, #txt2img_results, #extras_results
		{
			top: 0.5em;
		}
	}
}

#quicksettings-wrapper
{
	overflow-x: auto;
}

#breadcrumbs-wrapper #quicksettings
{
	display: inline-block;
	width: max-content;
	white-space: nowrap;

	&>div, &>fieldset
	{
		display: inline-block;
		margin-right: 6px;
	}

	button
	{
		margin-left: -2px;
		margin-right: 6px;
	}
}

#breadcrumbs
{
	margin-top: 10px;
	overflow-x: auto;
	white-space: nowrap;

	&>section
	{
		display: inline-block;
	}
}


.small-breadcrumb-style #breadcrumbs-wrapper
{
	padding: 5px;

	#breadcrumbs
	{
		margin-top: 5px;

		button
		{
			margin-right: 5px;
		}
	}
}

.large-breadcrumb-style #breadcrumbs-wrapper
{
	padding: 10px;

	#breadcrumbs
	{
		margin-top: 10px;

		button
		{
			margin-right: 10px;
		}
	}
}